#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: separate;
  border-spacing: 0 2px;
}

tbody tr:hover {
  outline: 1px solid white;
}

tr:nth-child(even) {
  background-color: rgb(26, 26, 26);
}

tr:nth-child(odd) {
  background-color: rgb(48, 48, 48);
}

thead {
  position: sticky;
  top: 0;
  background-color: rgb(26, 26, 26);
}

td.result-min {
  color: rgb(255, 236, 111);
  background-color: rgba(255, 171, 4, 0.25);
}

td.result-rec {
  color: #6aff8d;
  background-color: rgba(0, 255, 85, 0.25);
}

td.result-fail {
  color: rgb(255, 113, 113);
  background-color: rgba(170, 0, 0, 0.25);
}

#searchbar {
  width: 100%;
  font-size: inherit;
  box-sizing: border-box;
  /* padding-left: -10px; */
}

#increment {
  text-decoration: underline;
  cursor: pointer;
}